@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

h1 {
  font-family: var(--font-brasika);
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-stroke-3 {
  text-shadow: -2px -2px 0 #f8b4e3, 2px -2px 0 #f8b4e3, -2px 2px 0 #f8b4e3, 2px 2px 0 #f8b4e3;
}

@layer base {
  .text-color{
    @apply dark:text-light text-dark;
  }

  .bg-color{
    @apply dark:bg-dark bg-light;
  }

  .hero-heading{
    @apply laptop:text-[105px] tablet:text-[75px] mobile:text-[45px] text-[35px] text-color uppercase leading-none;
  }

  .hero-name {
    @apply text-color tablet:tracking-[8.8px] mobile:tracking-[6.5px] tracking-[5px] font-medium uppercase;
  }

  .font-outline-lg {
    -webkit-text-stroke: 3px #f8b4e3;
  }

  .font-outline-sm {
    -webkit-text-stroke: 1px #f8b4e3;
  }

  .font-outline-black {
    -webkit-text-stroke: 1px black;
  }

  .heading {
    @apply text-color tablet:text-6xl text-4xl;
  }

  .button-text {
    @apply uppercase text-dark tablet:text-base text-sm font-bold leading-none py-1;
  }

  .button {
    @apply border-2 border-dark rounded-full;
  }

  .paddings {
    @apply px-[30px] laptop:px-[30px] tablet:px-[60px] mobile:px-[30px] py-[90px] laptop:py-[100px] tablet:py-[100px] mobile:py-[90px];
  }

  .paragraph {
    @apply dark:text-secondary-text text-dark text-left tablet:leading-9 leading-7 tablet:text-lg text-base font-normal ;
  }

}

.height {
  --navbar-height: 60px;
  height: calc(100vh - var(--navbar-height));
}


