@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

h1 {
  font-family: var(--font-brasika);
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-stroke-3 {
  text-shadow: -2px -2px 0 #f8b4e3, 2px -2px 0 #f8b4e3, -2px 2px 0 #f8b4e3, 2px 2px 0 #f8b4e3;
}

@layer base {
  .text-color{
    @apply dark:text-light text-dark;
  }

  .hero-heading{
    @apply text-[105px] text-color uppercase leading-none;
  }

  .font-outline {
    -webkit-text-stroke: 3px #f8b4e3;
  }
}


